$lightGrey: #ebebeb;
$blue: #163966;
$darkGrey: #3f3f3f;
$text: #555;

$mobile: 768px;

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../../fonts/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("../../fonts/roboto-v29-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../../fonts/roboto-v29-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("../../fonts/roboto-v29-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("../../fonts/roboto-v29-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../../fonts/roboto-v29-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
	font-family: "Roboto";
	font-style: bold;
	font-weight: 700;
	src: url("../../fonts/roboto-v29-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("../../fonts/roboto-v29-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../../fonts/roboto-v29-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../../fonts/roboto-v29-latin-700.woff")
			format("woff"),
		/* Modern Browsers */ url("../../fonts/roboto-v29-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../../fonts/roboto-v29-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("../../fonts/roboto-condensed-v25-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("../../fonts/roboto-condensed-v25-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../../fonts/roboto-condensed-v25-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../../fonts/roboto-condensed-v25-latin-regular.woff") format("woff"),
		/* Modern Browsers */
			url("../../fonts/roboto-condensed-v25-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../../fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed")
			format("svg"); /* Legacy iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: url("../../fonts/roboto-condensed-v25-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("../../fonts/roboto-condensed-v25-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../../fonts/roboto-condensed-v25-latin-700.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../../fonts/roboto-condensed-v25-latin-700.woff") format("woff"),
		/* Modern Browsers */ url("../../fonts/roboto-condensed-v25-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../../fonts/roboto-condensed-v25-latin-700.svg#RobotoCondensed")
			format("svg"); /* Legacy iOS */
}
html,
body {
	font-size: 20px;
	@media (max-width: $mobile) {
		font-size: 17px;
	}
}
body {
	background: #fff;
	margin: 0;
	font-family: "Roboto", "sans-serif";
	//width: 100%;
	//overflow-x: hidden;
	//transform: translateX(0);
	transition: all 0.3s ease;
	line-height: 1.8;
	color: $text;
	&.nav-open {
		header {
			transform: translateX(-40vw);
			@media (max-width: $mobile) {
				transform: translateX(-70vw);
			}
		}
		.page-wrap {
			transition: all 0.3s ease;
			transform: translateX(-40vw);
			@media (max-width: $mobile) {
				transform: translateX(-70vw);
			}
		}
	}
}

.nav-open {
	.header {
		.nav {
		}
	}
}

h1,
h2,
h3 {
	font-family: "Roboto Condensed";
	margin: 0;
	font-weight: normal;
	line-height: 1.1;
	color: $blue;
}

h2 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	@media (max-width: $mobile) {
		font-size: 1.5rem;
	}
}

p {
	font-size: 1rem;
	margin-top: 0;
}

.page-wrap {
	padding-top: 100px;

	overflow: hidden;
	//transform: translateZ(0);
}

.nav-open .page-wrap {
	overflow: visible;
}

@mixin sectionPad {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media (max-width: $mobile) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}
.wp-block-columns,
.wrapped {
	max-width: 64rem;
	margin: 0 auto;
	padding: 0 2rem;
	&.small {
		max-width: 40rem;
	}
}

.wp-block-columns {
	padding-top: 50px;
	padding-bottom: 50px;
}

.wp-block {
	max-width: 100%;
}
.wp-block[data-align="wide"] {
	/* it can be "data-align=full" and also "right", "left" and "center" */
	max-width: 100%;
}

.header {
	min-height: 100px;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	transition: all 0.3s ease;
	position: fixed;
	z-index: 9999;
	justify-content: space-between;
	padding: 0 2rem;
	box-sizing: border-box;
	align-items: center;
	max-width: 100%;
	box-sizing: border-box;

	&.is-fixed {
		position: fixed;
		z-index: 100;

		animation-name: stickySlideDown;
		transition: none;
	}
	.logo {
		height: 40px;
	}
	.menu-toggle {
		#menu__toggle {
			opacity: 0;
			position: fixed;
		}

		#menu__toggle:checked ~ .menu__btn > span {
			transform: rotate(45deg);
		}
		#menu__toggle:checked ~ .menu__btn > span::before {
			top: 0;
			transform: rotate(0);
		}
		#menu__toggle:checked ~ .menu__btn > span::after {
			top: 0;
			transform: rotate(90deg);
		}

		.menu__btn {
			display: flex;
			align-items: center;
			position: relative;
			width: 40px;
			height: 40px;

			cursor: pointer;
			z-index: 1;
		}

		.menu__btn > span,
		.menu__btn > span::before,
		.menu__btn > span::after {
			display: block;
			position: absolute;

			width: 100%;
			height: 3px;

			background-color: $blue;

			transition-duration: 0.25s;
		}
		.menu__btn > span::before {
			content: "";
			top: -10;
		}
		.menu__btn > span::after {
			content: "";
			top: 10px;
		}

		.menu__box {
			display: block;
			visibility: hidden;
			top: 0;

			width: 300px;
			height: 100%;

			margin: 0;
			padding: 80px 0;

			list-style: none;

			background-color: #eceff1;
			box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

			transition-duration: 0.25s;
		}

		.menu__item {
			display: block;
			padding: 12px 24px;

			color: #333;

			font-family: "Roboto", sans-serif;
			font-size: 20px;
			font-weight: 600;

			text-decoration: none;

			transition-duration: 0.25s;
		}
		.menu__item:hover {
			background-color: #cfd8dc;
		}

		img {
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
				transition: all 0.3s ease;
			}
		}
	}
	.toolbar {
		display: flex;
		align-items: center;
		.phone {
			display: flex;
			align-items: center;
			@media (max-width: $mobile) {
				display: none;
			}
			.phone-label {
				margin-right: 1rem;
				display: inline-block;
				color: $blue;
				font-family: "Roboto Condensed";
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
				@media (max-width: $mobile) {
					display: none;
				}
			}
		}
	}
	.language-menu {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.nav {
		z-index: 10;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 40vw;
		transform: translateX(100%);
		background: $blue;
		transition: all 0.3s ease;
		display: flex;
		align-items: center;
		overflow-y: auto;
		justify-content: center;
		@media (max-width: $mobile) {
			width: 70vw;
		}
		> div > ul {
			min-width: 180px;
		}
		ul {
			margin: 0;
			padding: 0;

			li {
				font-size: 24px;
				font-family: "Roboto Condensed", "sans-serif";
				list-style: none;
				margin-bottom: 1rem;
				@media (max-width: $mobile) {
					font-size: 20px;
				}
				a {
					color: #fff;
					text-decoration: none;
					font-family: "Roboto Condensed", "sans-serif";

					&:hover {
						text-decoration: underline;
					}
				}
				&.menu-item-has-children {
					position: relative;
					> a {
						&:before {
							content: "+";
							display: inline-block;
							margin-right: 1rem;
							position: absolute;
							left: -2rem;
						}
					}
				}
				ul.sub-menu {
					display: none;
					margin-left: 2rem;
					margin-top: 1rem;
					margin-bottom: 1rem;
					min-height: 1;
					transition: all 0.3s ease;
				}
				&:hover {
				}
			}
		}
	}
}

.footer {
	.footer-top {
		background: $blue;
		color: white;
		padding: 4rem 0;
		.wrapped {
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			.office {
				h3 {
					font-size: 32px;
					margin-bottom: 2rem;
					color: #fff;
				}
				p {
					color: #fff;
					opacity: 0.75;
					a {
						color: #fff;
					}
				}
			}
		}
	}
	.footer-bottom {
		background: $darkGrey;
		padding: 2rem 0;
		.wrapped {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.footer-nav {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					display: flex;
					flex-wrap: wrap;
					li {
						margin-right: 2rem;
						a {
							font-size: 0.75rem;
							text-transform: uppercase;
							color: #fff;
							text-decoration: none;
							opacity: 0.5;
						}
					}
				}
			}
			.social-nav {
				img {
					height: 1.5rem;
					width: 1.5rem;
					opacity: 0.5;
					margin-left: 0.25rem;
				}
			}
		}
	}
}
a {
	color: $blue;
	&:hover {
		text-decoration: none;
	}
}

@keyframes stickySlideDown {
	0% {
		opacity: 0.7;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/// START OF BLOCKS ////

.block-text {
	@include sectionPad();
	h2 {
		margin-bottom: 1rem;
	}
	&.headline-links {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 4rem;
		@media (max-width: $mobile) {
			grid-gap: 0;
			grid-template-columns: 1fr;
		}
	}
	@media (max-width: $mobile) {
		grid-gap: 0;
		grid-template-columns: 1fr;
	}
	.content {
		p:last-child {
			margin-bottom: 0;
		}
	}
}

.block-hero {
	min-height: 70vh;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	position: relative;
	.wrapped {
		width: 100%;
		margin-bottom: 8rem;
		.checkmarks {
			margin-top: 2rem;
		}
		.checkmark {
			padding-left: 2rem;
			color: white;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0.5rem;
				height: 1.1rem;
				background-size: contain;
				background-repeat: no-repeat;
				width: 1.1rem;
				background-image: url("../../images/checkmark.svg");
			}
		}
		h1 {
			color: #fff;
			max-width: 30rem;
			font-size: 3rem;
			position: relative;
			z-index: 9;
			@media (max-width: $mobile) {
				font-size: 2rem;
				text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.47);
			}
			&:after {
				content: "";
				display: block;
				height: 10px;
				width: 50px;
				background: $blue;
				bottom: -20px;
				position: absolute;
			}
		}
		.subtext {
			color: white;
			margin-top: 2rem;
			max-width: 35rem;
		}
	}
}

.block-video {
	min-height: 70vh;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	position: relative;
	background: $blue;
	overflow: hidden;
	&:after {
		position: absolute;
		content: "";
		background-color: rgba(0, 0, 0, 0.3);
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
	video {
		z-index: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		transform: translateX(-50%) translateY(-50%);
	}

	.wrapped {
		width: 100%;
		margin-bottom: 8rem;
		h1 {
			color: #fff;
			font-size: 3rem;
			position: relative;
			z-index: 9;
			@media (max-width: $mobile) {
				font-size: 2rem;
			}
			&:after {
				content: "";
				display: block;
				height: 10px;
				width: 50px;
				background: $blue;
				bottom: -20px;
				position: absolute;
			}
		}
	}
}

.block-rechtsgebiete {
	@include sectionPad();
	h2 {
		margin-bottom: 3rem;
		text-align: center;
	}
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		display: grid;
		grid-gap: 2rem;
		.rechtsgebiet {
			min-width: 0;
			height: 164px;
			background: #eeeeee;
			display: flex;
			padding: 1rem;
			color: $blue;
			max-width: 100%;
			text-decoration: none;
			box-sizing: content-box;
			align-items: flex-end;
			transition: all 0.3s ease;
			overflow: hidden;
			position: relative;
			&:hover {
				background: $blue;
				color: #fff;
				transition: all 0.3s ease;

				svg path {
					transition: all 0.3s ease;

					stroke: #fff;
				}
			}
			.text {
				align-items: center;
				display: flex;
				justify-content: space-between;
				width: 100%;
				svg {
				}
			}
		}
	}
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.block-bild {
	img {
		width: 100%;
	}
}

.block-anwaelte {
	@include sectionPad();
	h2 {
		text-align: center;
	}
	.slick-slide {
		margin: 0 27px;
	}

	.slick-slider {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	/* the parent */
	.slick-list {
		margin: 0 -27px;
	}
	.slick-prev {
		z-index: 99999;
	}
	.slick-prev:before {
		color: $blue;
		z-index: 9999;
	}
	.slick-next:before {
		color: $blue;
	}
	.slick-slide {
		height: auto;
	}
	.anwalt-grid {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	.anwalt {
		text-decoration: none;
		transition: all 0.3s ease;
		&:hover {
			transform: scale(1.05);
		}
		.bild {
			background-size: cover;
			background-position: center;
			height: 250px;
			background-color: #eee;
			img {
				height: 250px;
				width: 100%;
				object-fit: cover;
			}
		}
		.text {
			margin-top: 1rem;
			&:after {
				content: "";
				height: 20px;
				width: 20px;
				background-image: url("../../images/arrow.svg");
				background-color: red;
				display: inline-block;
				float: right;
				background-color: transparent;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
			.name {
				font-size: 1.5rem;
				font-family: "Roboto Condensed", "sans-serif";
				color: $blue;
				display: block;
				line-height: 1.1;
			}
			.titel {
				color: $text;
				font-size: 16px;
			}
		}
	}
}

.block-news {
	@include sectionPad();
	background: #eee;
	.wrapped {
		display: grid;
		grid-template-columns: 1fr 3fr;
		// make one column on mobile
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
		.news-list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-gap: 2rem;
			.post {
				display: block;
				margin-bottom: 2rem;
				color: $text;
				text-decoration: none;
				transition: all 0.3s ease;
				&:hover {
					transition: all 0.3s ease;

					transform: scale(1.01);
				}
				.date {
					font-family: "Roboto Condensed";
				}
				h3 {
					font-size: 1.2rem;
					margin-bottom: 1rem;
				}
				.button {
					text-decoration: none;
					color: #163966;
					display: block;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
			}
		}
	}
}

.anwalt-profil {
	// make this responsive
	.anwalt-hero {
		background-size: cover;
		background-position: center;
		background: rgb(231, 227, 219);
		background: radial-gradient(
			circle,
			rgba(231, 227, 219, 1) 0%,
			rgba(190, 187, 183, 1) 100%
		);
		.wrapped {
			display: grid;
			grid-template-columns: 2fr 2fr;
			// make this one column on mobile
			@media (max-width: $mobile) {
				grid-template-columns: 1fr;
			}
			.anwalt-hero-bild {
				display: flex;
				align-items: flex-end;
				img {
					width: 100%;
				}
			}
			.anwalt-hero-content {
				@include sectionPad();

				display: flex;
				align-items: center;
				h1 {
					font-size: 3rem;
					@media (max-width: $mobile) {
						font-size: 1.5rem;
					}
				}
				font-family: "Roboto Condensed", sans-serif;
				font-size: 20px;

				.group {
					margin-bottom: 2rem;
					.label {
						font-family: "Roboto Condensed", sans-serif;
						color: $blue;
						font-weight: bold;
					}
					.standort {
						font-family: "Roboto Condensed", sans-serif;
						color: $blue;
						font-weight: bold;
						display: flex;
						align-items: center;
						// make map marker icon before the text
						&:before {
							content: "";
							height: 20px;
							width: 20px;
							background-image: url("../../images/map-marker.svg");
							background-color: transparent;
							background-size: contain;
							background-position: center;
							background-repeat: no-repeat;
							display: inline-block;
							float: left;
							margin-right: 0.5rem;
						}
					}
				}
			}
		}
	}
}

.goldberg-post {
	margin-bottom: 100px;
	h2 {
		margin-bottom: 2rem;
		a {
			text-decoration: none;
			color: $blue;
		}
	}
	.article-link {
		// make link blue with a arrow to the right
		text-decoration: none;
		color: $blue;
		display: block;
		display: flex;
		align-items: center;
		transition: all 0.3s ease;
		&:hover {
			svg {
				transition: all 0.3s ease;

				transform: translateX(1rem);
			}
		}
	}
}

.news-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding-bottom: 5rem;
	grid-gap: 2rem;
	max-width: 60rem;
	// make 1fr on mobile
	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
		display: block;
	}

	.entry-meta {
		color: #ccc;
		font-size: 12px;
	}
	.nav-links {
		max-width: 400px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		a {
			text-decoration: none;
			color: $blue;
		}
		.page-numbers  {
			background: #eee;
			padding: 0.5rem 0.25rem;
		}
	}
	.read-more-button {
	}
}

.goldberg-news-wrapper {
	h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
		a {
			text-decoration: none;
			color: $blue;
		}
	}
	h2 {
		font-size: 1.5rem;
	}
}

.screen-reader-text {
	display: none;
}

.sidebar {
	padding-bottom: 50px;
	h4 {
		color: $blue;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 1.5rem;
		margin: 0;
		margin-bottom: 0.5rem;
	}
	.wp-block-search__label {
		display: none;
	}
	.wp-block-search__inside-wrapper {
	}

	.wp-block-search__input {
		width: 170px;
		display: block;
		appearance: none;
		padding: 0.5rem 1rem;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}
	.wp-block-search__button {
		background-color: $blue;
		color: #fff;
		appearance: none;
		width: 100%;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: bold;
		border: 0px;
		width: 80px;
		font-size: 1rem;
	}
	.wp-block-latest-posts__list {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin-bottom: 1rem;
			a {
				display: block;
				font-weight: bold;
				text-decoration: none;
				color: $blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.wp-block-archives-dropdown {
		label {
			display: none;
		}
		select {
			// style select box with arrow on the right

			padding-right: 2rem;
			background-color: #eee;
			padding: 0.5rem 1rem;
			border-radius: 0px;
			border: 0px;
			appearance: none;
			// css svg arrow
			font-family: "Roboto", "sans-serif";
			&:after {
				content: "";
				height: 20px;
				width: 20px;
				background-image: url("../../images/arrow-down.svg");
				background-color: transparent;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				display: inline-block;
				float: right;
				margin-left: 0.5rem;
			}
		}
	}
}

.wp-admin .block {
	opacity: 1 !important;
}
.editor-styles-wrapper .block {
	opacity: 1 !important;
}

.block-standorte {
	@include sectionPad();

	h2 {
		margin-bottom: 4rem;
		text-align: center;
	}
	h3 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.standort-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		display: grid;
		grid-gap: 2rem;
	}
	a.button {
		background: blue;
	}

	.office {
		iframe {
			width: 100%;
			height: 300px;
		}
		.image {
			width: 100%;
			height: 300px;
			object-fit: cover;
			margin-bottom: 2rem;
		}
		.so-button {
			background: #163966;
			color: #fff;
			padding: 0.5rem 1rem;
			font-weight: bold;
			border-radius: 3px;
			margin-top: 1rem;
			text-decoration: none;
			&:hover {
				background: #000;
			}
		}
	}
}

.block-buttongroup {
	@include sectionPad();
	h2 {
		text-align: center;
		padding-bottom: 3rem;
	}
	.group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
		a {
			text-decoration: none;
			font-size: 1.5rem;
			font-weight: normal;
			background: #163966;
			color: #fff;
			padding: 2rem;
			font-family: "Roboto Condensed", sans-serif;

			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background: #666;
			}
		}
	}
}

.single-office {
	iframe {
		border: 0px !important;
		margin-bottom: 2rem;
		max-width: 100%;
	}
	.office-block {
		float: right;
		background: #eee;
		margin-left: 3rem;
		margin-top: -10rem;
		.padded {
			padding: 2rem;
		}
		@media (max-width: $mobile) {
			float: none;
			margin: 0;
			margin-bottom: 2rem;

			iframe {
				max-width: 100%;
			}
		}
	}
}

.wpcf7 {
	label {
		display: block;
		margin-bottom: 8px;
		margin-top: 16px;
	}
	input {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		font-family: "Roboto";
	}
	input[type="submit"] {
		background: $blue;
		color: #fff;
		border: 0px;
		appearance: none;
	}
}

@media (max-width: $mobile) {
	.country-selector a {
		padding: 0 3px !important;
	}
}

.home-siegel {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 99;

	img {
		max-width: 100px;
		@media (max-width: $mobile) {
			width: 50px;
		}
		z-index: 99;
	}
}

.page-id-5915 {
	.footer-top {
		display: none !important;
	}
}

.anwalt-footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2rem;
	align-items: center;
	background-size: cover;
	background-position: center;
	background: rgb(231, 227, 219);
	border-radius: 10px;
	margin-bottom: 2rem;
	margin-top: 2rem;

	a {
		text-decoration: none;
	}
	background: radial-gradient(
		circle,
		rgba(231, 227, 219, 1) 0%,
		rgba(190, 187, 183, 1) 100%
	);
	.anwalt-position {
		margin-bottom: 1rem;
	}
	.anwalt-text {
		padding: 2rem 0;
		p,
		a {
			font-size: 0.85rem;
			line-height: 1.3;
		}
	}
	img {
		margin-top: 1rem;
		max-width: 100%;
	}
	p {
		margin: 0;
	}
	h3 {
		font-size: 1.5rem;
	}
	@media (max-width: 800px) {
		grid-template-columns: 1fr;
		grid-gap: 0;
		.anwalt-text {
			padding: 1rem;
		}
	}
}

.post-thumbnail {
	img {
		height: 400px;
		width: 100%;
		object-fit: cover;
		@media (max-width: 800px) {
			height: 250px;
		}
	}
	margin-bottom: 1rem;
	display: block;
}

.block-newsletter {
	background: $blue;
	color: white;
	padding: 6rem;
	.wrapped {
		h2 {
			color: white;
			text-align: center;
		}
	}
	.tnp-subscription {
		display: flex;
		align-items: center;
		justify-content: center;
		label {
			display: block;
		}
		input[type="email"] {
			width: 100%;
			font-size: 1rem;
			padding: 0.5rem 1rem;
			margin-bottom: 1rem;
			appearance: none;
			background: transparent;
			border: 0px;
			border-bottom: 2px solid white;
			color: white;
			border-radius: 0px;
		}
		background: rgba(0, 0, 0, 0.2);
		padding: 2rem;
		margin-top: 2rem;
		form {
			max-width: 650px;
		}
		.tnp-privacy-field {
			margin-bottom: 1rem;
			a {
				font-size: 0.75rem;
			}
		}
		input[type="submit"] {
			width: 100%;
			padding: 0.5rem 1rem;
			font-size: 1rem;
			background: white;
			color: $blue;
			font-family: "Roboto Condensed", "sans-serif";
			border: 0px;
			border-radius: 3px;
			appearance: none;
		}
		a {
			color: white;
		}
	}

	.item-grid {
		margin-top: 4rem;
		display: grid;
		// auto grid
		grid-gap: 2rem;
		font-size: 0.75rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		.item {
			align-items: center;
			display: grid;
			grid-template-columns: 4rem auto;
			grid-gap: 1rem;
			img {
				width: 4rem;
				height: 4rem;
				object-fit: contain;
				margin-right: 1rem;
				flex-grow: 1;
			}
			.item-content {
				flex-grow: 0;
				width: auto;
				line-height: 1.3;
				h3 {
					margin-top: 0;
				}
			}
		}
	}
}

.block-icons {
	background: $blue;
	padding-top: 4rem;
	padding-bottom: 4rem;
	h2 {
		color: white;
		text-align: center;
		margin-bottom: 3rem;
	}
	.grid {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		> div {
			display: flex;

			align-items: center;
			justify-content: center;
			flex-direction: column;
			line-height: 1.3;
		}

		.icon-content {
			color: white;
			text-align: center;
			font-weight: bold;
		}
		img {
			height: 4rem;
			width: 4rem;
			object-fit: contain;
			margin-bottom: 1.5rem;
		}
	}
}

.block {
	&.block-process {
		padding-top: 4rem;
		padding-bottom: 4rem;
		h2 {
			text-align: center;
			margin-bottom: 3rem;
		}
		.process {
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			> div {
				padding: 1.5rem;
				background: #c4cdd8;
				border-radius: 5px;
				align-items: center;
				font-weight: bold;
				color: $blue;
				line-height: 1.3;
				display: flex;
				position: relative;
				&:after {
					content: "";
					height: 2.5rem;
					width: 2.5rem;
					background-image: url("../../images/arrow-blue.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					right: -2.25rem;
					z-index: 10;
					top: 50%;
					transform: translateY(-50%);
					@media (max-width: 800px) {
						bottom: -2.25rem;
						left: 50%;
						transform: translateX(-50%) rotate(90deg);

						top: auto;
					}
				}
				&:last-of-type {
					&:after {
						display: none;
					}
				}
				.item-icon {
					margin-right: 1rem;

					img {
						height: 3rem;
						width: 3rem;
					}
				}
			}
		}
	}
}

.block-links {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background: #c4cdd8;
	.wrapped {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: 2rem;
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
		.link {
			background: white;
			border-radius: 5px;
			display: block;
			margin-bottom: 1rem;
			padding: 1rem;
			text-decoration: none;
			padding-right: 3rem;
			position: relative;
			&:hover {
				background: #ebebeb;
			}
			&:after {
				height: 2rem;
				content: "";
				width: 2rem;
				position: absolute;
				background-size: contain;
				background-image: url("../../images/link.svg");
				background-repeat: no-repeat;
				right: 1rem;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.newsletter-wrap > p {
	display: none !important;
}
